{% extends "base.html" %} {% block head_title %} Reunion'94 - Contact {% endblock head_title %} {% block content %} {% load static %}
<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Contact <small>Details</small></h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Full Width</li>
    </ol>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-8 mb-4">
  <!--           <iframe width="="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=22.336385,91.783946&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.4552051362607!2d91.78181091536625!3d22.3364345853047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd9253aaaaaab%3A0x440bea173bacc2e2!2sGarib-E-Newaz+High+School!5e0!3m2!1sen!2sbd!4v1508051584759" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>


        </div>
        <div class="col-lg-4 mb-4">
            <h3>Contact Details</h3>
            <p>
                Gorib-E-Newaj High School
                <br>Founded in 1980
                <br>I-Block
                <br>Halisohor, Chittagong
            </p>
    <!--         <p>
                <abbr title="Phone">P</abbr>: 031-712628
            </p>
            <p>
                <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">name@example.com
                    </a>
            </p>
            <p>
                <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
            </p> -->
        </div>
    </div>
    <!-- /.row -->
    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <!--         <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group"->
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>

        </div> -->
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <div class="card-header">
                </div>
        <!--         <div class="mb-1 mt-1 ml-1 mr-1">
                                    <img class="card-img-top img-fluid rounded-circle" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Business-Man-icon.png" alt="Program Details">
                </div> -->

                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> PINTU</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Garib-e-Newaz High School</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <!--                      <a href="{% url 'registration' %}" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Register Online</a> -->
                    <a href="tel:+8801711941977" class="btn btn-success"><i class="fa fa-phone" aria-hidden="true"></i>
01711941977</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <div class="card-header">
                </div>
       <!--          <img class="card-img-top img-fluid rounded-circle" src="{% static 'assets/images/images_mainsite/contact_fnl_blk.png.png' %}" alt="Program Details"> -->
                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> HUMAYON</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Garib-e-Newaz High School</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <!--                      <a href="{% url 'registration' %}" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Register Online</a> -->
                    <a href="tel:+8801716155426" class="btn btn-success"><i class="fa fa-phone" aria-hidden="true"></i>
01716155426</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <div class="card-header">
                </div>
     <!--            <img class="card-img-top img-fluid rounded-circle" src="{% static 'assets/images/images_mainsite/venue_1.jpg' %}" alt="Program Details"> -->
                <div class="card-block">
                    <h3 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i> MASUM</h3>
                    <h5 class="card-subtitle mb-2 text-muted">Garib-e-Newaz High School</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <!--                      <a href="{% url 'registration' %}" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Register Online</a> -->
                    <a href="tel:+8801812048072" class="btn btn-success"><i class="fa fa-phone" aria-hidden="true"></i>
01812048072</a>
                </div>
            </div>
        </div>
    </div>

    </div>

<!-- /.container -->
<!--Page content Ends-->
{% endblock content %}